/* General Styles */
body {
    font-family: 'Arial, sans-serif';
    background-color: #f0f2f5;
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #04AA6D;
    font-size: 20px;
    color: white;
    padding: 12px 15px;
    text-align: left;
  }
  
  td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  tr:last-of-type {
    border-bottom: 2px solid #04AA6D;
  }
  
  /* Final Price Style */
  tr:last-of-type b {
    font-size: 18px;
    color: #04AA6D;
    font-weight: bold;
    padding: 12px 15px;
  }
  
  /* Input Field Style */
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button Styles */
  button {
    background-color: #0499aa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #028a54;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.98);
}

#final{
    color: #000;
    font-size: 20px;
}